////////////////////////////////////////////////////////////////////////////////
// Blocs



/* ------------------------------------------------------------------------------------------------
										Franchise showcase
------------------------------------------------------------------------------------------------ */


.wrapper--franchise-showcase {
	background: $color-ternary;
	padding: $gutter;
}

.franchise-showcase {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.franchise-showcase__img {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		text-align: center;

		@include bp(xs) {
			flex-basis: 15%;
			text-align: left;
		}
	}
	.franchise-showcase__content {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		padding: 0 $gutter;

		@include bp(xs) {
			flex-basis: 85%;
		}
		@include bp(lg) {
			flex-basis: 55%;
		}

		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-primary;
			font-weight: bold;
		}
		.sub-title {
			font-style: italic;
			color: $gray-light;
			font-size: $font-size-small;
		}
		p {
			margin: $gutter-quarter 0;
			line-height: 1.2;
		}
	}
	.franchise-showcase__cta {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		justify-content: flex-end;

		.btn { width: 100%; margin: $gutter-quarter; }
		span { text-align: center; }

		@include bp(xs) {
			flex-basis: auto;
			.btn { width: auto;   }
			span { text-align: left; }
		}
		@include bp(lg) {
			flex-basis: 25%;
			.btn { width: 100%; }
		}
	}
}


/* ------------------------------------------------------------------------------------------------
											Franchise item for activity/sector list
------------------------------------------------------------------------------------------------ */


.franchise-item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: $gutter-half;
	border: 0.3rem solid transparent;

	&:hover {
		border: 0.3rem solid $color-secondary;
		transition: border .2s $ease-classic;
	}

	.franchise-item__img {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		text-align: center;

		@include bp(xs) {
			flex-basis: 15%;
			text-align: left;
		}
		@include bp(lg) {
			flex-basis: 5%;
		}
	}
	.franchise-item__content {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		padding: 0 $gutter-half;

		@include bp(xs) {
			flex-basis: 85%;
		}
		@include bp(lg) {
			flex-basis: 28%;
			padding: 0 $gutter-quarter;
		}

		a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-primary;
			font-weight: bold;
		}
		.sub-title {
			font-style: italic;
			color: $gray-light;
			font-size: $font-size-small;
		}
		p {
			margin: $gutter-quarter 0;
			line-height: 1.2;
		}
	}
	.franchise-item__stats {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		padding: 0 $gutter-quarter 0 $gutter-half;

		@include bp(lg){
			border-left: 0.1rem solid $neutral-color-light;
			flex-basis: 17%;
		}

		.franchise-item__stat {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: $gutter-half;

			&:last-child {
				margin-top: $gutter-half;
			}
			.stats__logo {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 3.6rem;
				align-self: center;
			}
			.stats__number {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: calc(100% - 3.6rem);
				padding-left: $gutter-quarter;

				span {
					display: block;
					line-height: 1.4;
				}
			}
		}
		svg {
			fill: $gray-light;
		}
	}
	.franchise-item__cta {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 100%;
		justify-content: flex-end;
		margin: $gutter-half 0 0 0;

		.btn { width: 100%; margin: $gutter-quarter; }
		span { text-align: center; }

		@include bp(xs) {
			justify-content: center;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;

			.btn { width: auto;   }
			span { text-align: left; }
		}
		@include bp(lg) {
			justify-content: flex-end;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 15%;
			margin: 0;

			.btn { width: 100%; }
		}
	}
}




/* ------------------------------------------------------------------------------------------------
											Franchise detail
------------------------------------------------------------------------------------------------ */


.general-infos {
	display: flex;
	flex-wrap: wrap;
	margin-top: $gutter;
	padding: $gutter-half;
	background: white;
	border: 0.1rem solid $neutral-color-light;

	@include bp(sm){
		margin-top: -$gutter;
	}

	.general-infos__price, .general-infos__location  {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: auto;
		text-align: center;
		line-height: 1.3;
	}
	.general-infos__price {
		position: relative;

		&:after {
			content:'';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-30%);
			display: block;
			width: 0.1rem;
			height: 7rem;
			border-left: none;

			@include bp(xs){ border-left: 0.1rem solid $neutral-color-light; }
			@include bp(sm){ border-left: none; }
			@include bp(md){ border-left: 0.1rem solid $neutral-color-light; }
		}
	}
	.btn {
		font-weight: normal;
		margin-bottom: $gutter;
	}
}

.secondary-infos {
	margin-top: $gutter-double;
}

.franchise__cover {
	text-align: center;
	min-height: 22rem;
	background-size: cover;

	@include bp(sm){
		text-align: left;
	}

	img {
		width: 18rem;
		height: 18rem;
		border: 0.1rem solid $neutral-color-light;
		margin-top: 2rem;
		transform: translateY(6rem);

		@include bp(sm){
			transform: translateY(0);
		}
	}

}

.franchise__header {
	margin-top: $gutter-double;
	margin-bottom: $gutter-double;

	@include bp(sm){
		padding: 0 $gutter;
		margin-top: 0;
	}
}

.franchise__cta {
	margin: $gutter 0;

	.btn {
		margin: $gutter-quarter 0;

		@include bp(xs){
			margin: 0;
		}
	}
}

.franchise__infos {
	.infos__line {
		display: flex;
		flex-wrap: wrap;

		.info {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 100%;
			display: flex;
			flex-wrap: wrap;
			padding: $gutter-half 0;

			@include bp(xs){
				flex-basis: calc(30% - 1.2rem);
				margin: 0 $gutter-quarter;
			}

			&:last-child {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 100%;

				@include bp(xs) {
					flex-basis: calc(40% - 2.4rem);
				}
			}

			svg {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 4rem;
				margin-right: 1rem;
				fill: $color-primary;

				@include bp(xs) {
					flex-grow: 1;
					flex-shrink: 0;
					flex-basis: 100%;
					margin: 0;
				}

				@include bp(md) {
					flex-grow: 1;
					flex-shrink: 0;
					flex-basis: 4rem;
					margin-right: 1rem;
				}
			}
			p {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: calc(100% - 5rem);
				margin: 0;

				@include bp(xs) {
					flex-grow: 1;
					flex-shrink: 0;
					flex-basis: 100%;
					text-align: center;
				}

				@include bp(md) {
					flex-grow: 1;
					flex-shrink: 0;
					flex-basis: calc(100% - 5rem);
					text-align: left;
				}
			}
		}

		&.infos__line--top {
			margin: $gutter 0 0 0;

			.info {
				border-bottom: 0.1rem solid $neutral-color-light;
				@include bp(xs) {
					border-top: 0.1rem solid $neutral-color-light;
				}
			}
		}
		&.infos__line--bottom {
			margin: 0 0 $gutter 0;

			.info {
				border-bottom: 0.1rem solid $neutral-color-light;
			}
		}
	}
}


/* ------------------------------------------------------------------------------------------------
										Aside content
------------------------------------------------------------------------------------------------ */


.aside-ads-square {
	text-align: center;
	margin-top: $gutter;

	@include bp('sm') {
		text-align: right;
		margin-top: 0;
	}
}

.aside-list {
	margin: $gutter-double 0;

	h2, .aside-list__title {
		display: block;
		font-size: $font-size-base;
		letter-spacing: -0.5px;
		text-transform: uppercase;
		font-weight: normal;
		line-height: 1.2;
		padding-bottom: $gutter-quarter;
		border-bottom: 0.5rem solid $neutral-color-light;
	}
	ul {
		padding: 0;
		margin-bottom: $gutter-quarter;

		> li {
			padding: $gutter-quarter 0;
			list-style-type: none;
			border-bottom: 0.1rem solid $neutral-color-light;

			a {
				color: #000;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
			span {
				color: $color-primary;
			}
			p {
				margin: 0;
				line-height: 1.2;
			}
		}
	}
	.link {
		color: $gray-light;
		text-decoration: none;
		text-transform: uppercase;
		font-size: $font-size-small;
		font-weight: bold;

		&:hover {
			color: $gray;
			text-decoration: none;
		}
	}
	svg {
		fill: $color-primary;
	}
}

.top-activity {
	.activity {
		display: flex;
		justify-content: flex-start;
		align-content: center;

		svg {
			margin-right: $gutter-half;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 3.2rem;
		}
		a {
			margin-top: $gutter-quarter;
			text-decoration: none;
			color: black;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: calc(100% - 3.2rem);

			&:hover {
				text-decoration: none;
				color: $color-primary;
			}
		}
	}
}

.top-franchises {
	li {
		margin: 0;

		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-decoration: none !important;
			text-transform: uppercase;
			padding: $gutter-quarter;
			border: 0.2rem solid transparent;
			color: black;

			&:hover {
				border: 0.2rem solid $color-secondary;
				color: $color-primary;
			}

			img {
				margin-right: $gutter-half;
				width: 5rem;
				height: 5rem;

				@include bp('lg'){
					width: 8rem;
					height: 8rem;
				}
			}
		}
	}
}

.top-cities {
	.city {
		margin: $gutter-half 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		border: 0.1rem solid $neutral-color-light;
		border-left: 0.4rem solid $color-secondary;

		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: $gutter-half 0;
			text-decoration: none;
			text-transform: uppercase;
			transition: all .2s $ease-classic;
			height: 100%;

			strong {
				color: $color-primary;
				font-size: $font-size-giga;
				padding: 0 $gutter-half;
			}
			span {
				color: $color-primary;
				font-size: $font-size-base;
			}

			&:hover {
				background: $color-primary;
				color: white;
				text-decoration: none;
				transition: all .2s $ease-classic;

				strong, span {
					color: white;
					text-decoration: none;
				}
			}
		}
		&:hover {
			border: 0.1rem solid $color-primary;
			border-left: 0.4rem solid $color-secondary;
		}
		&.city--franchise {
			a {
				text-transform: initial;
			}
		}
	}
}

.rent-sale {
	ul {
	  > li {
	    margin: 0;
	    padding: $gutter-half 0;

	    a {
	      display: block;

	      p {
	        color: black;
	      }
	      &:hover {
	        color: $color-primary;
	        text-decoration: none;

	        p {
	          color: $color-primary;
	        }
	      }
	    }
	  }
	}
}

.resume-activity {
	ul {
	  > li {
	    margin: 0;
	    padding: $gutter-half 0;

	    &:not(:last-child) {
	        border: none;
	      }

	    a {
	      display: block;

	      p {
	        color: black;
	      }
	      &:hover {
	        color: $color-primary;
	        text-decoration: none;

	        p {
	          color: black;
	        }
	      }
	    }
	  }
	}
}

/* ------------------------------------------------------------------------------------------------
									Generic content blocs
------------------------------------------------------------------------------------------------ */


.large-item {
	padding: $gutter-half;

	@include bp('xs') {
		padding: $gutter;
	}

	img {
		border: 0.1rem solid $neutral-color;
		margin-top: $gutter-quarter;
	}
	.large-item__date {
		text-transform: uppercase;
		font-size: $font-size-small;
	}
	.large-item__link {
		text-transform: uppercase;
		font-size: $font-size-small;
		color: $color-primary;
		text-decoration: none;
		font-weight: bold;
	}
	.large-item__title {
		margin: $gutter-quarter 0;
		color: $color-primary;
		text-transform: uppercase;
		//font-size: $font-size-h3;
		line-height: 1;

		a {
			text-decoration: none;
			color: inherit;
		}
	}
	.large-item__intro {
		margin: 0;
		line-height: 1.2;
		font-size: $font-size-small;
		margin-bottom: $gutter-quarter;
	}
	.large-item__see-more {
		font-size: $font-size-small;
		text-decoration: none;
		color: $gray-darkest;
		font-weight: bold;

		svg {
			transform: translateY(0.1rem);
		}

		&:hover {
			color: $neutral-color;

			svg {
				fill: $neutral-color;
			}
		}
	}
}

.medium-item {
	padding: $gutter-quarter;
	margin-top: $gutter;
	margin-bottom: $gutter;

	.medium-item__img {
		text-align: center;
		img {
			border: 0.1rem solid $neutral-color;
			margin-top: $gutter-quarter;
			max-width: 15rem;
			margin-bottom: $gutter-half;

			@include bp('xs') {
				max-width: 100%;
				margin-bottom: auto;
			}
		}
	}
	.medium-item__description {
		text-align: center;

		@include bp('xs') {
			text-align: left;
		}
		.medium-item__title {
			margin: $gutter-quarter 0;
			color: $color-primary;
			text-transform: uppercase;
			//font-size: $font-size-h3;
			line-height: 1;

			a {
				text-decoration: none;
				color: inherit;
			}
		}
		.medium-item__intro {
			margin: 0;
			line-height: 1.2;
			font-size: $font-size-small;
			margin-bottom: $gutter-quarter;
		}
	}
}

.medium-item-container--heart {
	background: $color-secondary;
	position: relative;
	overflow: hidden;

	.heart {
		position: absolute;
		bottom: -5rem;
    	right: -6rem;
		background: $color-primary;
		width: $gutter-quad;
		height: $gutter-quad;
		transform: rotate(45deg);
		@include transition(all .2s $ease-classic);

		.icon {
			fill: white;
			transform: rotate(-45deg);
			position: absolute;
			top: 3.6rem;
			left: 0.7rem;
		}
	}
	&:hover {
		.heart {
			background: $color-secondary;
			@include transition(all .2s $ease-classic);
		}
	}
}

.thin-item {
	padding: $gutter-quarter;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0.3rem solid transparent;
	@include transition(all .2s $ease-classic);

	&:hover {
		border: 0.3rem solid $color-ternary;
	}
	&:nth-child(odd) {
		background: $underline-color-dark;
	}
	.thin-item__icon {
		width: $gutter;
		height: $gutter;
		margin-right: $gutter-quarter;
	}
	.thin-item__description {
		text-decoration: none;
		color: black;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@include bp('sm') {
			flex-direction: row;
		}
		span {
			padding: 0 $gutter-quarter;
		}
	}
}

.small-item {
	padding: $gutter-half;

	img {
		border: 0.1rem solid $neutral-color;
		margin-top: $gutter-quarter;
	}
	.small-item__date {
		text-transform: uppercase;
		font-size: $font-size-small;
	}
	.small-item__title {
		margin: $gutter-quarter 0;
		color: $color-primary;
		//font-size: $font-size-h3;
		line-height: 1;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.small-item__intro {
		margin: 0;
		line-height: 1.2;
		font-size: $font-size-small;
		margin-bottom: $gutter-quarter;
	}
	.small-item__see-more {
		font-size: $font-size-small;
		text-decoration: none;
		color: $gray-darkest;
		font-weight: bold;

		&:hover {
			color: $neutral-color;
		}
	}
}


/* ------------------------------------------------------------------------------------------------
										Hub
------------------------------------------------------------------------------------------------ */


.alphabet {
	background: $color-ternary;

	ul {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include bp(lg){
			justify-content: space-around;
		}

		li {
			list-style-type: none;
			display: inline-block;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: auto;
			margin-left: -0.1rem;

			@include bp(lg){
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
			}

			a, span {
				display: block;
				color: $color-primary;
				text-decoration: none;
				font-size: $font-size-large;
				padding: 0 0.8rem;
				margin: $gutter-quarter 0;

				border-left: 0.1rem solid transparent;
				border-right: 0.1rem solid $color-primary;
			}
			&:last-child a, &:last-child span { border-right: none; }
			&:hover, &.activate {
				background: $color-primary;
				a, span { color: white; }
			}
			&.desactivate {
				span {
					color: lighten($color-primary, 30%);
				}
			}
		}
	}
}

.terms-list {
	margin: $gutter-double 0;

	.terms-list__col {
		padding: 0 $gutter;

		.terms-bloc { display: none; }
		@include bp(xs){
			.terms-bloc { display: block; }
		}

		.letter {
			color: $color-primary;
			text-transform: uppercase;
			font-size: $font-size-large;
		}

		ul {
			padding: 0;

			li {
				list-style-type: none;
				padding: 0;
				margin-top: $gutter-quarter;

				a {
					text-decoration: none;
					color: black;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.search-select {
	select {
		display: block;
		margin: $gutter-quarter 0;
		font-size: $font-size-small;

		@include bp('xs'){
			display: inline-block;
			width: auto;
		}
		option {
			padding: $gutter-half 0;
		}
	}
	span {
		padding-right: $gutter-half;
	}
	.return {
		display: block;

		@include bp(lg){
			display: none;
		}
	}
}


/* ------------------------------------------------------------------------------------------------
										 articles / news list
------------------------------------------------------------------------------------------------ */


.franchise-link {
	border-top: 0.1rem solid $neutral-color-light;
	padding-top: $gutter-half;

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $gray-light;

	}
}


/* ------------------------------------------------------------------------------------------------
										Pagination
------------------------------------------------------------------------------------------------ */


.pre-pagination, .post-pagination {
	text-align: center;
	padding: 0;

	li {
		list-style-type: none;
		padding: $gutter-eighth $gutter-quarter;
		color: $color-primary;
		display: inline-block;
		font-size: $font-size-small;

		&.active, &:hover {
			background: $color-ternary;
		}
		a {
			text-decoration: none;
			color: $color-primary;
		}
		.arrow-icon {
			transform: translateY(0.1rem);
		}
	}
}


/* ------------------------------------------------------------------------------------------------
											Slider
------------------------------------------------------------------------------------------------ */

.wrapper--slider {
	background: $color-ternary;

	.multi-items-slider {
		padding: 0 $gutter-quad;

		article {
			margin: $gutter-quarter;
			text-align: center;

			a {
				display: block;
				img {
					border: 0.2rem solid transparent;

					&:hover {
						border: 0.2rem solid $color-primary;
					}
				}
			}
		}
		&.owl-theme .owl-controls .owl-page span  {
		    display: none;
		}
		.owl-buttons {
			.owl-prev {
				transform: rotate(180deg);
				background: transparent !important;
				position: absolute;
				top: 30%;
				left: 0;
			}
			.owl-next {
				background: transparent !important;
				position: absolute;
				top: 30%;
				right: 0;
			}
			svg {
				fill: $color-secondary;
			}
		}
	}
}


/* ------------------------------------------------------------------------------------------------
										 Breadcrumb
------------------------------------------------------------------------------------------------ */

.wrapper--breadcrumb {
	padding: 0;
}

.breadcrumb {
	.crumbs {
		padding: 0;

		.home {
			fill: $gray-light;
			transform: translateY(.2rem);
		}
		.separator {
			margin-left: 0.5rem;
		}
		> li {
			list-style-type: none;
			text-transform: uppercase;
			display: inline-block;
			font-size: 1.3rem;

			a {
				text-decoration: none;
				color: $gray-light;
			}
			span:last-child {
				text-transform: uppercase;
				color: $gray-light;
			}
		}
	}
}


/* ------------------------------------------------------------------------------------------------
											Header
------------------------------------------------------------------------------------------------ */

// VARS

// 90px ad + 7px iframe margin + 2x $gutter-half
$pre-header-height: 9rem + 0.7rem + $gutter;
$header-img-height: 7.2rem;

// 48px (btn's height) + 2x $gutter-quarter
$navbar-height: $gutter-double + $gutter-half;

// Starting from this breakpoint, we show the ad banner
$bp-ad-banner: 'sm';


// SITE CONTENT

.site-content {
  // Push content down when we show the ad banner
  @include bp($bp-ad-banner) {
    margin-top: $pre-header-height + $navbar-height;

    /*body*/.is-home & {
      margin-top: $pre-header-height;
    }
  }
}

// SITE HEADER

.site-header {
  // Sticky header
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
  z-index: 1000;
}

// HEADER WRAPPERS

// Pre-header (ad banner)
.wrapper--pre-header {
  padding-top: $gutter-half;
  padding-bottom: $gutter-half;
  background: white;
  text-align: center;

  min-height: $pre-header-height; // Prevents FOUC
  display: none; // Hidden on mobile

  // Show ad banner when enough room
  @include bp($bp-ad-banner) { display: block; }

  // Bump the banner's iframe z-index
  > iframe { z-index: 2000; }
}

// Header (aka 'expanded' menu)
.wrapper--header {}

// Post-header (aka navbar menu)
.wrapper--post-header {
  position: relative; // for logo centering
  padding-top: $gutter-quarter;
  padding-bottom: $gutter-quarter;
  height: $gutter-double + 2 * $gutter-quarter; // fixed, computed height
  background-color: rgba(255,255,255,1);
  @include shadow(1);
  transition: all 0.5s;

  /*body*/.is-home & {
    background-color: rgba(255,255,255,0);
    @include shadow(0);
  }

  /*body*/.menu--bg:not(.overlay--active) & {
    background-color: rgba(255,255,255,1);
    @include shadow(1);
  }
  /*body*/.overlay--active & {
    background-color: rgba(255,255,255,0);
    @include shadow(0);
  }
}

// TOP MENU

.top-menu {
	display: flex;

  .top-menu__hamburger {}

  .top-menu__filler { flex-grow: 1; }

	.top-menu__logo {}

  .top-menu__search {
    display: none; // hidden on mobile
    @include bp('md') { display: block; }
    /*body*/.overlay--active & { display: none; }
  }

  .top-menu__cart {
    /*body*/.overlay--active & { display: none; }
  }

  .top-menu__close {
    display: none;
    /*body*/.overlay--active & { display: block; }
  }

  .top-menu__overlay {}
}

// MAIN LOGO

.logo-main {
  position: absolute;
  display: block;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1001;
  @include shadow(1);
}

// MAIN SEARCH

.search-main {
  display: flex;

  .search-form__input { flex-grow: 1; }
  .search-form__btn {
  	flex-grow: 0;
	background: $color-primary;
	margin: 0 $gutter-quarter 0 0; // Adds air around
  }
}

// MENU BUTTONS & ICONS

.btn--menu {
  display: inline-block;
  height: $gutter-double; // equals 48px, for good touch area
  line-height: $gutter-double;
  min-width: $gutter-double;
  background-color: transparent;
  text-decoration: none;

  > span,
  > svg {
    vertical-align: middle;
    transition: all 0.5s;
  }

  > svg {
    fill: black;

    /*body*/.is-home & {
      fill: white;
    }

    /*body*/.menu--bg:not(.overlay--active) & {
      fill: black;
    }

    /*body*/.overlay--active & {
      fill: white;
    }
  }

  // Menu button with a text label
  > span {
    display: none; // Hidden on mobile
    padding: 0 $gutter-half;

    color: black;

    /*body*/.is-home & {
      color: white;
    }

    /*body*/.menu--bg:not(.overlay--active) & {
      color: black;
    }

    /*body*/.overlay--active & {
      color: white;
    }

    @include bp('xs') { display: inline-block; }
  }
}

.btn--hamburger {
	&:hover {
		svg {
			fill: $color-secondary;
		}
	}
}

// Cart buttons + item counter

.btn--cart {
  position: relative;
}

.cart__counter {
  position: absolute;
  top: $gutter-quarter;
  left: 3.3rem;
  min-width: $gutter-half + $gutter-quarter;
  height: $gutter-half + $gutter-quarter;
  line-height: $gutter-half + $gutter-quarter;
  background-color: $color-secondary;
  color: white;
  font-size: $font-size-small;
  font-weight: bold;
  text-align: center;
  border-radius: ($gutter-half + $gutter-quarter) / 2;
  padding: 0 $gutter-eighth;
}

.cart__counter--hidden {
  display: none;
}


/* ------------------------------------------------------------------------------------------------
Cart
------------------------------------------------------------------------------------------------ */

$color-cart-bg: #D9E6EE;

body {
  overflow-x: hidden; // TMP - TODO remove
}

.btn--cart {
  padding-left: $gutter-half;
  padding-right: $gutter-half;

  /*body*/.cart--open & {
    background-color: $color-cart-bg;
    @include shadow(1);

    svg { fill: black; }
  }

  /*body*/.cart--empty & {
    cursor: default;
  }
}

.btn--cart > .cart__label {
  padding: 0;
  padding-left: $gutter-half;
  font-size: $font-size-small;
  line-height: 1.25;
  vertical-align: middle;
  text-transform: none;
  text-align: left;
  display: none;
  @include bp('xs') { display: inline-block; }

  /*body*/.cart--open & {
    color: black;
  }
}

.top-menu__cart {
  position: relative;
}

.cart-content {
	background-color: $color-cart-bg;
	position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  // width: calc(100vw - 2.4rem); // hard-coded $gutter /!\
  width: calc(100vw - 3.9rem); // hard-coded pseudo-magical $gutter /!\
  max-width: 32rem; // 320px wide
  z-index: 2000;
  background-color: $color-cart-bg;
  @include shadow(1);
  display: none; // hidden by default

  /*body*/.cart--open & {
    display: block;
  }

	main {
		position: relative;
		background-color: white;
		border-top: 2rem solid $color-cart-bg;
		padding: $gutter-half;
		padding-top: $gutter;
		max-height: 24rem;
    overflow-y: auto;

		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: $gutter-half $gutter-half 0 $gutter-half;
			border-color: $color-cart-bg transparent transparent transparent;
		}
	}

  footer {
		position: relative;
		padding: $gutter-half;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: block;
			height: 4rem;
			background-color: white;
			z-index: -1;
		}
  }
}

.cart-item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: $gutter-half;
  }
}

.cart-item__img,
.cart-item__title,
.cart-item__delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-item__img {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 6.4rem;

  > div {
    height: 6.4rem;
		border: 1px solid $gray-lighter;

    > img {

    }
  }
}

.cart-item__title {
  flex-grow: 1;
  padding: 0 $gutter-quarter;
  line-height: 1.25;
  font-size: $font-size-small;
  font-weight: bold;
  text-transform: uppercase;
}

.cart-item__delete {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: $gutter-double;

  > button {
    width: $gutter-double;
    height: $gutter-double;
    text-align: center;
    line-height: $gutter-double;
	border: none;
    background: transparent;

	&:hover {
		svg {
			transform: rotate(90deg);
		}
	}
    svg {
    	transform-origin: center center;
    	transform: rotate(0deg);
    	fill: $gray;
    	transition: all 0.2s ease;
    }
  }
}

.btn--cart-close {
	background-color: transparent;
	&:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}


/* ------------------------------------------------------------------------------------------------
	Anchor Tiles
------------------------------------------------------------------------------------------------ */
.article {
	display: block;
	// text-decoration: none;

	&:hover {
		.large-item__see-more {
			text-decoration: underline;
		}
	}
}

a.article {
	text-decoration: none;
	color: black;

  &:not(.small-item-container):hover {
    color: white;
  }
}
