////////////////////////////////////////////////////////////////////////////////
// Layout


/* ------------------------------------------------------------------------------------------------
									Generic content blocs 
------------------------------------------------------------------------------------------------ */


body {
	background: #f1f1f1;
}

.site-wrapper {
	//position: relative;
	background: white;

  	@include bp('lg') { 
  		max-width: $site-wrapper-max-width; 
  		margin: 0 auto; 
  	}
}

.static-content {
	> * {
		font-size: $font-size-base !important; /* override fck editor content */
	}
	a {
		color: $color-primary;
		text-decoration: none;
	}
	h2:first-child {
		margin-top: 0;
	}
}

.wrapper--content-info {
	border-top: 0.1rem solid black;
	padding: 0;

	img {
		width: 100%;
	}
	p, h2 {
		padding: 0 $gutter-double 0 $gutter;
		line-height: 1.3;
	}
}


/* ------------------------------------------------------------------------------------------------
									items content blocs 
------------------------------------------------------------------------------------------------ */


.wrapper--large-items, .wrapper--large-items-row  {
	article {
		@include transition(all .2s ease);

		&:hover {
			color: white;
			background: $color-primary;
			@include transition(all .2s ease);

			.large-item__date, 
			.large-item__link,
			.large-item__title,
			.large-item__intro,
			.large-item__see-more { color: white;  @include transition(all .2s ease); }
			svg { fill: white; }
		}
	}
}

.wrapper--large-items {
	article {
		@include bp('xs', true) {
			&:not(:last-child) {
				border-bottom: 0.1rem solid $neutral-color;
			}
		}
		@include bp('xs') {
			&:not(:nth-last-child(-n+2)) {
				border-bottom: 0.1rem solid $neutral-color;
			}
		}
	}
}

.wrapper--large-items-row {
	article {
		&:not(:last-child) {
			border-bottom: 0.1rem solid $neutral-color;
		}
	}
}

.wrapper--medium-items  {
	article {
		@include bp('md', true) {
			&:not(:last-child) {
				border-bottom: 0.1rem solid $neutral-color;
			}
		}
		@include bp('md') {
			&:not(:nth-last-child(-n+2)) {
				border-bottom: 0.1rem solid $neutral-color;
			}
		}

		@include transition(all .2s ease);

		&:hover {
			color: white;
			background: $color-primary;
			@include transition(all .2s ease);

			.medium-item__title,
			.medium-item__intro { color: white;  @include transition(all .2s ease); }
		}
	}
}


/* ------------------------------------------------------------------------------------------------
											Franchise detail 
------------------------------------------------------------------------------------------------ */


.wrapper--hiring {
	background: $color-ternary;
	padding: 0;
	margin-top: $gutter-double;
}


/* ------------------------------------------------------------------------------------------------
										 articles / news list
------------------------------------------------------------------------------------------------ */


.wrapper--news-list { 
	article {
		border-bottom: none;
		background: white;
		@include transition(all .2s $ease-classic);

		&:hover {
			background: $color-primary;
		}

		.large-item {
			padding: $gutter $gutter $gutter-half 0;
		}
		.large-item__date {
			text-transform: initial;
			color: $gray-light;
		}
		.large-item__link {
			color: $color-secondary;  
		}
		.large-item__title {
			color: $gray-dark;

			&:hover { 
				color: $color-primary;  
				@include transition(all .2s $ease-classic); 
			}
		}
	}
}

.wrapper--articles-list { 
	article {
		background: white;
		border-bottom: none;
		@include transition(all .2s $ease-classic);
		.large-item {
			padding: $gutter-half $gutter;
		}
		.large-item__date {
			text-transform: uppercase;
			color: $gray-light;
			font-size: $font-size-mini;
		}
		.large-item__see-more {
			color: $gray-light;

			svg { fill: $gray-light; }
		}
		.large-item__title {
			color: $color-primary;
			text-transform: initial;
		}

		&:hover {
			background: $color-primary;

			.large-item,
			.large-item__date,
			.large-item__see-more,
			.large-item__title {
				color: white; 
				@include transition(all .2s $ease-classic); 

				svg { fill: white; }
			}
		}
	}
}


/* ------------------------------------------------------------------------------------------------
										Hub
------------------------------------------------------------------------------------------------ */


.hub {
	.hub__search-form {
		background: $color-secondary;
		display: flex;
		flex-wrap: wrap;
		padding: $gutter;

		@include bp(xs){
			margin-left: $gutter;
			margin-right: $gutter;
		}

		.search-container {
			flex: 1 0 calc(100% - 8rem);

			.hub__search {
				padding: $gutter-half;
				border: none;
			}
		}
		.button-container {
			flex: 1 0 7rem;
			text-align: center;
			height: 4.2rem;

			.hub__submit {
				width: 5.5rem;
				height: 5.5rem;
				background: none;
				border: none;
				cursor: pointer;
				outline: none;
				padding: $gutter-quarter;
				margin-top: -$gutter-quarter;

				svg {
					fill: white;
					transform: rotate(0deg);
					transition: transform 0.2s ease;
				}
			}
			&:hover {
				.hub__submit {
					background: white;

					svg {
						fill: $color-secondary;
						transform: rotate(7deg);
						transition: transform 0.2s ease;
					}
				}
			}
		}
	}
}



/* ------------------------------------------------------------------------------------------------
global TLF form override
------------------------------------------------------------------------------------------------ */


.wrapper--demande-doc {

  .franchise-line {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .franchise-line__bloc {
      display: flex;
      padding-right: $gutter-quarter;
      flex: 0 0 100%;

      @include bp('xs') { flex: 0 0 50%; }
      @include bp('sm') { flex: 0 0 33%; }
      @include bp('md') { flex: 0 0 20%; }
      
      .bloc__img {
        flex: 0 0 6rem;

        img {
          border: 0.1rem solid $neutral-color-light;
          max-width: 100%;
        }
      }
      .bloc__descr {
        flex: 0 0 calc(100% - 6rem);
        padding: 0 0 0 $gutter-quarter;
        line-height: 1.2;

        a { 
          text-decoration: none;
          text-transform: uppercase;
          color: $color-primary;
          margin: 0;
          font-size: $font-size-small;
          font-weight: bold;
        }
      }
    }
  }

  .aside-list {
    margin-top: $gutter;


    
    ul {
      border-bottom: 0.1rem solid $neutral-color-light;
      padding-bottom: $gutter-half;

      li {
        overflow: auto;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        svg {
          fill: #00a362;
          flex: 0 0 4rem;
          margin-right: $gutter-quarter;
        }
        p {   
          flex: 0 0 calc(100% - 5rem);
        }
      }
    }
  }

  // specific override for centralised form
  .demande-doc {
    background: $color-ternary;
    padding: $gutter-quarter 2.25 * $gutter $gutter-quarter $gutter;
    margin-top: $gutter;

    form {
      padding: 0;

      input[type="submit"] {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-block;
        @extend .btn-big;

        width: 93%;
      }
      select {
        @extend .select;
        padding: 0 $gutter-half;

        @include bp('md'){
            width: 80% !important;
        }
      }
      p {
        color: $gray-light;
        font-style: italic;
      }
    }
  }
}


.wrapper--demande-doc-sent {
  .list {
    margin: $gutter-double auto $gutter auto;
    padding-top: $gutter-double;
    border-top: 0.1rem solid $neutral-color-light;
    @include bp('md'){ width: 80%; }
    @include bp('lg'){ width: 60%; }

    .list-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      line-height: 1.2;
      margin-top: $gutter;

      .list-item__logo {
        flex: 0 0 7rem;
        margin-right: $gutter;

        svg {
        	fill: $color-primary;
        }
      }
      .list-item__descrp {
        flex: 0 0 calc(100% - 9rem);

        .list-item__text--big {
          color: $color-primary;
          font-size: $font-size-mega;
        }
        .list-item__text--small {
          font-size: $font-size-small;
          color: $gray-light;
        }
        a {
          color: $color-primary;
        }
      }
    }
  }
}



/* ------------------------------------------------------------------------------------------------
Static pages : 404, partners
------------------------------------------------------------------------------------------------ */



.wrapper--404 {
	.title {
		font-size: $font-size-mega;
		text-transform: uppercase;

		.title__superbig {
			font-size: 7.2rem;
		}
	}
	.list-title {
		display: block;
		font-size: $font-size-intermediate;
		text-transform: uppercase;
		font-weight: normal;
		line-height: 1.2;
		padding-bottom: $gutter-quarter;
		border-bottom: 0.5rem solid $neutral-color-light;
		margin-top: $gutter-quad;
	}
	.bullet-list {
		padding-bottom: $gutter;
		border-bottom: 0.1rem solid $neutral-color-light;
	}
}


.wrapper--parnters {
	margin-top: 0;

	.partner {
		border-bottom: 0.1rem solid $neutral-color-light;
		padding: $gutter-half 0;
		margin: 0;

		a {
			text-decoration: none;
			color: black;
			font-weight: bold;

			&:hover {
				color: $color-primary;
			}
		}
	}
}

.wrapper--contact {
	margin-bottom: $gutter;

	.contact {
		width: 100%;

		@include bp('md'){
			width: 90%;
			margin: 0 auto;
		}
		@include bp('lg'){
			width: 80%;
			margin: 0 auto;
		}
		
		.contact__header {
			padding-top: $gutter;
			border-bottom: 0.1rem solid $neutral-color-light;
			
			@include bp('md'){
				background: url('../img/phone-pf.png') no-repeat right bottom;
			}

			.contact__title {
				font-size: 3rem;
				color: $color-primary;
				text-transform: uppercase;
				font-weight: normal;
			}
			p {
				margin-top: 0;
				font-size: $font-size-large;
			}
		}
		.contact__subtitle {
			text-transform: uppercase;
			font-size: $font-size-medium;

			@include bp('sm'){
				font-size: $font-size-intermediate;
			}
		}
		.contact__form {
			display: flex;
			flex-wrap: wrap;

			.contact__column {
				display: flex;
				flex-direction: column;
				flex: 1 0 100%;
				
				@include bp('sm'){
					flex: 1 0 50%;

					&.contact__column--1 {
						padding: 0 $gutter-half 0 0;
					}
					&.contact__column--2 {
						padding: 0 0 0 $gutter-half;
					}
				}

			}
		}
	}
}

.bloc-form {
	margin-top: $gutter-half;

	input[type="text"], select, textarea {
		padding: $gutter-quarter + 0.4rem; // sorry for that...
		font-size: $font-size-base;
		border: 0.1rem solid $neutral-color-light;
	}
	textarea {
		min-height: 21rem;
	}
	button {
		font-size: $font-size-large;
	}
}
.bloc-form--pushed {
	margin-top: auto;
}

.error {
	label {
		color: #FF5F60;
	}
	input[type="text"].error {
	    background: url(../img/cross.svg);
	    background-repeat: no-repeat;
	    background-position: right top;
	}
}
